﻿<div cg-busy="{promise: ctrl.model.postItemPromise, message: 'Working...', backdrop: true}"> 
    <ng-form  name="ContactForm" novalidate role="form" data-ng-hide="ctrl.sent">
        <div class="row">
            <div class="col-md-3 col-xs-12" data-ng-class="{'has-error':ContactForm.name.$invalid && (ContactForm.name.$dirty  || submitted)}">
                <div class="form-group">
                    <input type="text" placeholder="First Name" name="name" class="form-control" data-ng-model="ctrl.model.firstName"  required />
                    <span class="help-block" ng-show="ContactForm.name.$invalid && (ContactForm.name.$dirty || ctrl.submitted)">Please provide your name</span>
                </div>
            </div>
            <div class="col-md-3 col-xs-12" data-ng-class="{'has-error':ContactForm.lastName.$invalid && (ContactForm.lastName.$dirty  || submitted)}">
                <div class="form-group">
                    <input type="text" placeholder="Last Name" name="lastName" class="form-control" data-ng-model="ctrl.model.lastName" required/>
                    <div data-ng-if="ContactForm.lastName.$dirty || ctrl.submitted">
                        <span class="help-block" ng-show="ContactForm.lastName.$error.required">Please provide your last name</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12" data-ng-class="{'has-error':ContactForm.mail.$invalid && (ContactForm.mail.$dirty  || submitted)}">
                <div class="form-group">
                    <input type="email" placeholder="Mail" name="mail" class="form-control" data-ng-model="ctrl.model.mail" required/>
                    <div data-ng-if="ContactForm.mail.$dirty || ctrl.submitted">
                        <span class="help-block" ng-show="ContactForm.mail.$error.required">Please provide your mail</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12" data-ng-class="{'has-error':ContactForm.getperson2.$invalid && (ContactForm.getperson2.$dirty  || submitted)}">
                <div class="form-group">
                    <select placeholder="Persons" name="getperson2" id="getperson2" class="form-control" data-ng-model="ctrl.model.getperson2" data-ng-options="person.FirstName for person in ctrl.model.personsInput track by person.Id" ng-change="ctrl.model.getSelectedPerson()"></select>
                    <div data-ng-if="ContactForm.getperson2.$dirty || ctrl.submitted">
                        <span class="help-block" ng-show="ContactForm.getperson2.$error.required">Select a person</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12" data-ng-class="{'has-error':ContactForm.message.$invalid && (ContactForm.message.$dirty  || submitted)}">
                <div class="form-group">
                    <textarea type="text" placeholder="Message" name="message" class="form-control" data-ng-model="ctrl.model.message" required></textarea>
                    <div data-ng-if="ContactForm.message.$dirty || ctrl.submitted">
                        <span class="help-block" ng-show="ContactForm.message.$error.required">Please provide a message to send</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="control-group text-center" data-ng-hide="ctrl.loading">
            <a data-ng-click="ctrl.sayHello(ContactForm.$valid)" class="btn btn-primary">say hello</a>
            <a data-ng-click="ctrl.postTest(ContactForm.$valid)" class="btn btn-primary">say hello (Post)</a>
            <a data-ng-click="ctrl.sendEmail(ContactForm.$valid)" class="btn btn-primary">send a mail</a>
            <a data-ng-click="ctrl.getPerson(ContactForm.$valid)" class="btn btn-primary">get person</a>
            <a data-ng-click="ctrl.getPersons(ContactForm.$valid)" class="btn btn-primary">get persons</a>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="row">
                    <div class="col-md-2 col-xs-12">
                        <label>Search Person</label>
                    </div>
                    <div class="col-md-8 col-xs-12">
                        <input type="search" placeholder="Text Search" class="form-control" debounce="800" data-ng-model="ctrl.model.search" ng-class="{'has-error': ctrl.model.search.length}"/>
                    </div>
                    <div class="col-md-2 col-xs-12">
                        <!--<input type="number" class="form-control" data-ng-model="ctrl.model.length" ng-change="ctrl.model.setLength()"/>-->
                        <a data-ng-click="ctrl.getFilteredPerson(ContactForm.$valid)" class="btn btn-primary">get filtered persons</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Age</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--<tr ng-repeat="row in ctrl.model.persons | searchPerson:ctrl.model.search | justNPersons:ctrl.model.from:ctrl.model.to">-->
                    <tr ng-repeat="row in ctrl.model.persons | justNPersons:ctrl.model.from:ctrl.model.to">
                        <td>{{::row.Id}}</td>
                        <td>{{::row.FirstName}}</td>
                        <td>{{::row.Age}}</td>
                    </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th><a style="cursor: pointer" ng-click="ctrl.model.back()"><<</a></th>
                            <th></th>
                            <th style="text-align: right;"><a style="cursor: pointer;" ng-click="ctrl.model.next()">>></a></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </ng-form>
    <div data-ng-show="ctrl.sent" class="text-center">
        <h1>Thank you</h1>
        {{ctrl.test}}
    </div>
</div>
