﻿<div>
    <a ui-sref="home" ui-sref-active="active">home</a>
    <a ui-sref="state1" ui-sref-active="active">state1</a> 
    <a ui-sref="state2" ui-sref-active="active">state2</a>
    <div ui-view></div>
</div>